.fk_link {
    /*text-decoration: underline;*/
}

.fk_link:hover {
    text-decoration: none;
    filter: brightness(60%);
}

.footer {
    height: 22px;
    bottom: 0px;
    text-align: right;
    width: 100%;
    top: 100%;
    font-size: 12px;
}

.footer a {
    cursor: pointer;
}